<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Welcome</title>
  <!-- Bootstrap core CSS-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><strong>Login</strong></div>
      <div class="card-body">
       
	    <?php if( $a != "" ): ?>
		
		<div class="alert alert-danger" role="alert">
			<?php echo $a ?>
			
			
		</div>
		
		<?php endif; ?>
		
		<form action="check_login" method="post">
          <div class="form-group">
            <label for="user"><strong>Email address</strong></label>
            <input class="form-control" id="user" name="user" type="email" aria-describedby="emailHelp" placeholder="Enter email" required>
			
          </div>
          <div class="form-group">
            <label for="password"><strong>Password</strong></label>
            <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
			
          </div>
         <!-- <div class="form-group"> 
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          -->
				 <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
				 <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
		  <strong><input type="submit" id="submit" value="Login"></input></strong>
        </form>
        
          
        
		</div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/popper/popper.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>